*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bg1-- : #edf2fb;
    --bg2-- : #e2eafc;
    --bg3-- : #d7e3fc;
    --bg4-- : #ccdbfd;
    --bg5-- : #c1d3fe;
    --bg6-- : #b6ccfe;
    --bg7-- : #abc4ff;
    --bg8-- : #ffffff;
    --bg9-- : #000000;



    --tx1-- : #ffffff; 
    --tx2-- : #000000; 
    --tx3-- : #183153; 
}
body{
    background-color: var(--bg1--);
}
.main_container{
    margin: 0;
}
.sub_container{
    /* border: 2px solid red; */
    width: 100%;
    height: 100vh;
}
.sub_container1{
    background-color: var(--bg8--);
}
.sub_container2{
    background-color: var(--bg2--);
}
.sub_container3{
    background-color: var(--bg3--);
}
.sub_container4{
    background-color: var(--bg4--);
}
.sub_container5{
    background-color: var(--bg5--);
}
/* navbar start */
.nav_container{
    background-color: transparent;
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
}
.navbar-brand , .navbar-toggler, .nav-link{
    color: var(--tx3--);
    font-weight: bolder;
    font-variant: small-caps;
  
}




/* navbar end */

