*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bg1-- : #edf2fb;
    --bg2-- : #e2eafc;
    --bg3-- : #d7e3fc;
    --bg4-- : #ccdbfd;
    --bg5-- : #c1d3fe;
    --bg6-- : #b6ccfe;
    --bg7-- : #abc4ff;
    --bg8-- : #ffffff;
    --bg9-- : #000000;



    --tx1-- : #ffffff; 
    --tx2-- : #000000; 
    --tx3-- : #183153; 
}
body{
    background-color: var(--bg1--);
}
.main_container{
    margin: 0;
}
.sub_container{
    /* border: 2px solid red; */
    width: 100%;
    height: 100vh;
}
.sub_container1{
    background-color: var(--bg8--);
}
.sub_container2{
    background-color: var(--bg2--);
}
.sub_container3{
    background-color: var(--bg3--);
}
.sub_container4{
    background-color: var(--bg4--);
}
.sub_container5{
    background-color: var(--bg5--);
}
/* navbar start */
.nav_container{
    background-color: transparent;
    position: sticky;
    top: 0;
    box-shadow: 5px 5px 10px 1px var(--tx3--);
    backdrop-filter: blur(2px);
}
.navbar-brand , .navbar-toggler, .nav-link{
    color: var(--tx3--);
    font-weight: bolder;
    font-variant: small-caps;
  
}

/* navbar end */

/* container 1 Home starts  */
.sub_container1{
    text-align: center;
    color: var(--tx3--);
    margin: 5px auto;
    padding: 5px;
    height: auto;
}
.sub_container1 img{
    border: 2px solid var(--tx2--);
    border-radius: 1em;
    box-shadow: 2px 2px 2px 2px var(--tx3--);
}
.sub_container1 h2,
.sub_container1 h3 {
    text-align:center;
    text-shadow: 2px 2px 10px var(--tx3--);
    font-variant: small-caps;
}
.sub_container1 p {
        font-family: 'Courier New', Courier, monospace;
        padding: 5px;
}
.sub_container1 a {
        font-family: 'Courier New', Courier, monospace;
        padding: 1em;
        color: var(--tx3--);
        font-weight: bolder;
        box-shadow: 2px 2px 4px 2px var(--tx3--);
        border-radius: 1em;
}

.col{
    border: 2px solid red;
    padding: 1em;
}


/* container 1 Home ends  */
/* container 2 Home starts  */
/* container 2 Home ends  */
/* container 3 Home starts  */
/* container 3 Home ends  */
/* container 4 Home starts  */
/* container 4 Home ends  */
/* container 5 Home starts  */
/* container 5 Home ends  */